:root {
    --bg-color: black;
    --brand-color: rgb(0, 228, 114);
    --accent-color: rgb(51, 51, 51);
    --bg-card: white;
    --dark-text: rgb(39, 39, 39);
    --light-text: white;
    --button-color: rgb(255, 14, 86);
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);
    color: var(--light-text);
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brand-color);
    color: var(--dark-text);
    height: 50%;
    margin-bottom: 4rem;
}

header > nav {
    align-self: flex-start;
    padding: 1.5rem;
}

header h1 {
    font-size: 3.5rem;
    padding: 4rem 0 5rem 0;
}

header .ninja-head {
    width: 10rem;
    height: auto;
    display: block;
}

/* Main */
main {
    width: 80%;
    margin: auto;
}

/* Main > Checkout */
main > section.checkout {
    display: flex;
    flex-direction: column;
}

main > section.checkout > h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

section.checkout > .checkout-cart {
    margin-bottom: 3.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.card {
    background-color: var(--bg-card);
    width: 49%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

figure .poster-image {
    width: 100%;
}

article.card > section.card-info,
article.card-small > section.card-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
}

article.card-small > section.card-info {
    padding: 0;
}

article.card h3 {
    color: var(--dark-text);
    margin-bottom: .6rem;
    font-size: 1.3rem;
}

/* Main > index */
main > section.posters-small {
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
}

article.card-small {
    width: 30%; 
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

article.card-small h3 {
    font-size: 1.6rem;
    margin: .6rem 0;
}

section.posters-large {
    margin: 3rem 0 6rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article .card-desc {
    margin-bottom: 3rem;
}

section.posters-large > .card p {
    color: var(--dark-text);
}

/* Table style */
.checkout .checkout-table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

.checkout-table .col1 {
    width: 50%;
}

.checkout-table .col2 {
    width: 40%;
}

.checkout-table .col3 {
    width: 10%;
}

.checkout-table thead {
    background-color: rgba(163, 0, 0, 0.3);
}

.checkout-table thead th {
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.1rem 0;
}

.checkout-table th,
.checkout-table td {
    padding: .4rem 0;
}

.checkout-table tr:last-child > td {
    padding-bottom: .8rem;
}

.checkout-table tfoot {
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    font-weight: 600;
}

.checkout-table tr:hover:not(thead > tr) {
    background-color: var(--button-color);
}

/* Button style */
.btn {
    color: var(--light-text);
    background-color: var(--button-color);
    padding: .6rem .8rem;
    border: none;
    font-weight: bolder;
    font-size: .9rem;
    cursor: pointer;
    border: 1px solid var(--button-color);
}

.btn:hover {
    background-color: var(--light-text);
    color: var(--button-color);
}

.btn.purchase {
    align-self: flex-end;
    margin: 4rem 0;
}

.card .btn,
.card-small .btn {
    font-size: .6rem;
    margin: auto auto 0 0;
}

.card-small .btn {
    padding: .4rem .8rem;
}

section.posters-small .btn,
section.posters-large .btn {
    border-radius: 0.2rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 2rem 10% 6rem 10%;
}

footer h2 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.footer-nav nav a {
    display: block;
    text-decoration: none;
    color: var(--light-text);
    padding: .2rem 0;
}

address {
    font-style: normal;
}

address > ul {
    list-style: none;
}

address > ul li {
    padding: .2rem 0;
}